.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.login-box {
  background: white;
  padding: 50px;
  border-radius: 20px;
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-box input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-box button {
  padding: 15px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
}