.shop-banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.shop-info {
  margin-top: 30px;
}

.shop-info h1 {
  margin-bottom: 15px;
}

.shop-info p {
  line-height: 1.8;
}

.shop-stats {
  display: flex;
  gap: 20px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.shop-products {
  margin-top: 60px;
  margin-bottom: 50px;
}
.products-grid {
  display: grid;

  grid-template-columns:
  repeat(auto-fit,minmax(280px,1fr));

  gap: 25px;
}